{% extends 'content_base.html.twig' %}

{% block content_body %}
    <h1>Edit the Article🚀</h1>
    {{ include('article_user/_form.html.twig', {button_text: 'Apply'}) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{#    {{ encore_entry_script_tags('userhelper') }}#}
{% endblock %}